.Home .lander {
  width: 95vw;
  height: 90vh;
  padding: 80px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Home_Heading{
  font-size: 5rem;
}
.home_des_font{
  font-size: 1.5rem;
}
.imgnote{
  width: 40rem;
  height: 40rem;
  background: url(./back1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.notepage{
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.notes{
  width: 80vw;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new_note{
  width: 50rem;
  height: 4rem;
  border-radius: 1rem;
  padding: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.301);
  transition: .3s;
}
.new_note_titel{
  pointer-events: none;
  font-size: 1.3rem;
}
.notesbox{
  margin-top: 3rem;
  width: 70rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-shrink: 0;
}
.notesbox_list{
  width: 70rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.notesdisplay_list{
  width: 50rem;
  min-height: 10rem;
  border-radius: 1rem;
  border: .5px solid rgb(180, 180, 180);
  padding: 1rem 4rem 4rem 1rem;
  transition: .4s;
  margin-top: 2.5rem;
  position: relative;
}
.notesdisplay{
  width: 20rem;
  min-height: 10rem;
  border-radius: 1rem;
  border: .5px solid rgb(180, 180, 180);
  padding: 1rem 4rem 4rem 1rem;
  transition: .4s;
  margin-top: 2.5rem;
  position: relative;
}
.notesdisplay:hover{
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.282);
}

.notesdisplay_list:hover{
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.282);
}
.notesdisplay:hover .delete_btn_onnote{
  display: flex;
}
.notesdisplay_list:hover .delete_btn_onnote{
  display: flex;
}
.date_notes{
  position: absolute;
  bottom: 1rem;
}

.newnote_pagebtns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.new_note_onpage{
  width: 50rem;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.301);
  border: none;
  outline: none;
}
.new_note_onpage{
  min-height: 5rem;
  resize: none;
  width: 50rem;
  overflow: hidden;
  padding: 1rem 1rem 4rem 1rem;
}
.delete_btn_onnote{
  font-size: 1.7rem;
  color: rgb(103, 103, 103);
  position: absolute;
  bottom: 0rem;
  right: .9rem;
  display: none;
  animation: fadein .7s forwards 1;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 20%;
  width: 2rem;
  height: 100%;
  padding: 1rem 0rem 1.33rem 0rem;
  z-index: 9;
}
@keyframes fadein {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.note_in_btns{
  display: flex;
  align-items: center;
  justify-content: center;
}






/* New Note page */

.new_note_open{
  height: 10rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
}
.new_note_open_titel{
  outline: none;
  border: none;
  font-size: 1.4rem;
  font-weight: 400;
}
.new_note_open_text{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  margin-top: 1rem;
  outline: none;
  resize: none;
  overflow: hidden;
}
.new_note_open_icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.7rem;
  color: gray;
  margin-left: .3rem;
}