@media (max-width: 800px) {
    html,body {
        font-size: 9px;
    }
  }
  @media (max-width: 700px) {
    html,body {
        font-size: 8px;
    }
  }@media (max-width: 500px) {
    html,body {
        font-size: 7px;
    }
  }@media (max-width: 400px) {
    html,body {
        font-size: 6px;
    }
  }